<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Este es un mensaje que te enviaron de yamaha <%= @name %></h1>
    <p>
      You have successfully signed up to example.com, <br><br>
      Nombre: <%= @nombre %>.<br>
      Correo: <%= @correo %>.<br>
      Teléfono: <%= @telefono %>.<br>
      Ciudad: <%= @ciudad %>.<br>
      Departamento: <%= @departamento %>.<br>
      Lista: <%= @lista %>.<br>
      Cuota: <%= @cuota %>.<br>
      Plazo: <%= @plazo %>.<br>

    </p>
    <p>
      To login to the site, just follow this link:
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
