  <div class="col-xs-12 col-sm-6">
      <div class="single-blog fix" style="margin: 30px;">
        <div class="blog-image">
          <a href="<%= post.the_url %>" class="block white-hover">
            <%= raw post.the_link_thumb() if post.has_thumb?%>
          </a>
        </div>
        <div class="single-blog-text" style="margin: 6px;">
          <h5 style="margin: 25px; font-size: 28px;">
            <a href="<%= post.the_url %>"><%= post.the_title %></a>
          </h5>
          <p style="width:100%;overflow:hidden;height:auto;"><%= post.content_filtered[10..170].html_safe%></p>
          <a href="<%= post.the_url %>" class="button">Read more</a>
        </div>
      </div>
    </div>
