<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Site Description Here">
    <link rel="shortcut icon" href="/images/favicon.png">

    <title>YamahaSport</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application'%>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700%7CLora:400,400i%7CShadows+Into+Light:400" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.4.3/sweetalert2.min.js'
             ></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.4.3/sweetalert2.min.css' rel='stylesheet'>

  </head>

  <body>
    <div class="header-container tw-header">
      <nav class="uk-navbar-container uk-flex-center" data-uk-navbar>

        <div class="uk-navbar-left">
          <div class="tw-logo">
            <h3 class="site-name">
              <a href="index.html"><img alt="logo" src="/images/yamahaLogo.png">
              </a>
            </h3>
          </div>
        </div>

        <div class="uk-navbar-center">
          <ul class="tw-main-menu uk-visible@m">
            <li class="menu-item">
              <a href="/">Home</a>
            </li>

            <li class="menu-item menu-item-has-children">
              <a href="/catalogo">Motocicletas Nuevas</a>
              <ul class="sub-menu uk-animation-fade">
                <li><a href="pages-about.html">Automática y Semiautomática</a></li>
                <li><a href="pages-services.html">Urbanas trabajo y Deportivas</a></li>
                <li><a href="pages-team.html">Todo Terreno</a></li>
                <li><a href="pages-clients.html">Deportivas</a></li>
                <li><a href="pages-contact.html">Super Deportivas</a></li>
                <li><a href="pages-404.html">Sport Heritage</a></li>
                <li><a href="pages-faq.html">Turismo</a></li>
                <li><a href="pages-coming-soon.html">Motocross y Enduro</a></li>
                <li><a href="pages-coming-soon.html">Cuatrimotos</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="/financiacion">Financiación</a>
            </li>
            <li class="menu-item">
              <a href="/citas">Citas De Taller</a>
            </li>
            <li class="menu-item">
              <a href="#">Contáctenos</a>
            </li>
          </ul>
        </div>

        <div class="uk-navbar-right">
          <div class="uk-child-width-expand" data-uk-grid>
            <div class="tw-element tw-socials tw-socials2 tw-social-light with-hover propia">
              <a href=""><i class="fa uk-icon-button fa-twitter"></i></a>
              <a href=""><i class="fa uk-icon-button fa-facebook"></i></a>
              <a href=""><i class="fa uk-icon-button fa-instagram"></i></a>
              <a href=""><i class="fa uk-icon-button fa-google-plus"></i></a>
              <a href=""><i class="fa uk-icon-button fa-youtube"></i></a>
            </div>
          </div>
          <div class="tw-header-meta">
            <a class="mobile-menu uk-navbar-toggle uk-hidden@m" href="#" data-uk-toggle="target: #mobile-menu-modal"><i class="ion-navicon-round"></i></a>
          </div>
        </div>

        <div id="mobile-menu-modal" class="uk-modal-full" data-uk-modal>
          <div class="uk-modal-dialog">
            <button class="uk-modal-close-full" type="button" data-uk-close></button>
            <div class="uk-light uk-height-viewport tw-mobile-modal uk-flex uk-flex-middle uk-flex-center" data-uk-scrollspy="target:>ul>li,>div>a; cls:uk-animation-slide-bottom-medium; delay: 150;">
              <ul class="uk-nav-default uk-nav-parent-icon" data-uk-nav>
                <li class="uk-parent">
                  <a href="index.html">Home</a>
                </li>
                <li class="uk-parent">
                  <a href="#">Motocicletas Nuevas</a>
                  <ul class="uk-nav-sub">
                    <li><a href="pages-about.html">Automática y Semiautomática</a></li>
                    <li><a href="pages-services.html">Urbanas trabajo y Deportivas</a></li>
                    <li><a href="pages-team.html">Todo Terreno</a></li>
                    <li><a href="pages-clients.html">Deportivas</a></li>
                    <li><a href="pages-contact.html">Super Deportivas</a></li>
                    <li><a href="pages-404.html">Sport Heritage</a></li>
                    <li><a href="pages-faq.html">Turismo</a></li>
                    <li><a href="pages-coming-soon.html">Motocross y Enduro</a></li>
                    <li><a href="pages-coming-soon.html">Cuatrimotos</a></li>
                  </ul>
                </li>
                <li class="uk-parent">
                  <a href="#">Financiación</a>
                </li>
                <li class="uk-parent">
                  <a href="#">Citas De Taller</a>
                </li>
                <li class="uk-parent">
                  <a href="#">Contáctenos</a>
                </li>
              </ul>

              <div class="tw-socials tw-socials-minimal">
                <a href="#"><i class="ion-social-facebook"></i></a>
                <a href="#"><i class="ion-social-twitter"></i></a>
                <a href="#"><i class="ion-social-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <% if notice %>
      <script>
        swal("<%= notice %>");
      </script>
    <% end %>

    <% if alert%>
      <script>
        swal("<%= alert %>");
      </script>
    <% end %>

  <%= yield %>
  <footer class="uk-section uk-padding-remove-vertical uk-light" style="background-color: #222222;">

    <div class="bottom-area">
      <div class="uk-container">
        <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-medium" data-uk-grid data-uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 200;">
          <div>
            <div class="widget">
              <div class="tw-logo">
               <img alt="logo" src="/images/yamahaLogo.png">
              </div>
            </div>
          </div>

          <div>
            <div class="uk-padding-left">
              <div class="widget widget_recent_entries">
                <h3 class="widget-title"><span>Popular Posts</span></h3>
                <ul>
                  <li>
                    <a href="#">Suspendisse vulputate diam</a>
                    <span class="tw-meta">January 22, 2017</span>
                  </li>
                  <li>
                    <a href="#">Facilisis Nulla Elementum</a>
                    <span class="tw-meta">January 22, 2017</span>
                  </li>
                  <li>
                    <a href="#">Mauris pharetra interdum</a>
                    <span class="tw-meta">January 22, 2017</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="widget">
            <div class="uk-padding-left">
              <h3 class="widget-title"><span>Useful Links</span></h3>
              <ul>
                <li>
                  <a href="#">About us</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
                <li>
                  <a href="#">News</a>
                </li>
                <li>
                  <a href="#">Testimonails</a>
                </li>
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
                <li>
                  <a href="#">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>

          <div>
            <div class="widget tw-contact-widget uk-padding-right">
              <h3 class="widget-title"><span>Contact Info</span></h3>
              <ul>
                <li>
                  <i class="ion-ios-location"></i>
                  <a href="#">88 Orchard St, New York, NY 111000, United States.</a>
                </li>
                <li>
                  <i class="ion-android-call"></i>
                  <a href="#">(001) 8686 234 432</a>
                </li>
                <li>
                  <i class="ion-android-mail"></i>
                  <a href="#">support@themewaves.com</a>
                </li>
                <li>
                  <i class="ion-ios-world-outline"></i>
                  <a href="#">www.themewaves.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-area uk-text-center">
      <div class="uk-child-width-expand" data-uk-grid>
        <div class="tw-element tw-socials tw-social-light with-hover">
          <a href=""><i class="fa uk-icon-button fa-twitter"></i></a>
          <a href=""><i class="fa uk-icon-button fa-facebook"></i></a>
          <a href=""><i class="fa uk-icon-button fa-instagram"></i></a>
          <a href=""><i class="fa uk-icon-button fa-pinterest"></i></a>
          <a href=""><i class="fa uk-icon-button fa-youtube"></i></a>
          <a href=""><i class="fa uk-icon-button fa-google-plus"></i></a>
          <a href=""><i class="fa uk-icon-button fa-behance"></i></a>
          <a href=""><i class="fa uk-icon-button fa-rss"></i></a>
        </div>
      </div>
    </div>

    <div class="footer-area footer-small">
      <div class="uk-container">
        <div class="uk-flex-middle uk-child-width-1-1 uk-child-width-expand@m" data-uk-grid>
          <div class="copyright">
            © Copyright 2017 - All Rights Reserved
          </div>
          <div class="uk-text-right">
            <a href="" data-uk-scroll>Back To Top &nbsp;&nbsp;<i class="ion-ios-arrow-up"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>



  <!-- <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script> -->

</body>
</html>
